@import './typography.scss';

.electron {
  .q-page {
    background: white;
  }

  .q-drawer {
    @media (prefers-color-scheme: 'light') {
      background: rgba(255, 255, 255, 0.33);
    }
    @media (prefers-color-scheme: 'dark') {
      background: rgba(0, 0, 0, 0.33);
    }
  }
}
