@import './typography.scss';

#masq-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #222;
  @media (prefers-color-scheme: 'light') {
    background: #eee;
  }
  z-index: 99999;
}

.loaded {
  display: none !important;
}

.electron-mac {
  .q-header .q-toolbar {
    transition: 0.1s;
    &.d-closed {
      margin-top: 30px;
    }
    @media (max-width: 1024px) {
      margin-top: 30px;
    }
  }
  .q-drawer,
  .q-drawer__content {
    @media (min-width: 1024px) {
      & {
        @media (prefers-color-scheme: 'dark') {
          background-color: transparent !important;
          .q-item__label {
            color: #dddddd;
          }
          .q-item.q-router-link--active {
            background: rgba(255, 255, 255, 0.15);
          }
        }
        @media (prefers-color-scheme: 'light') {
          background-color: transparent !important;
          .q-item__label {
            color: #333333;
          }
          .q-item.q-router-link--active {
            background: rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
  .q-page {
    background: white;
  }
}
