h1,
h1.q-markdown--heading-h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2,
h2.q-markdown--heading-h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h3,
h3.q-markdown--heading-h3 {
  font-size: 2rem;
  line-height: 2rem;
}

h4,
h4.q-markdown--heading-h4 {
  font-size: 1.75rem;
  line-height: 1.75rem;
}

h5,
h5.q-markdown--heading-h5 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h6,
h6.q-markdown--heading-h6 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

p {
  line-height: 1rem;
  font-size: 1rem;
}

[class*='q-markdown--heading-h'] {
  padding: 0 0 !important;
}

.q-card__section .q-markdown {
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

.q-markdown--link-external:after {
  font-family: 'Material Design Icons' !important;
  content: '\f3cc' !important;
}

.q-markdown--line-numbers-wrapper {
  overflow: hidden;
}
