#q-app {
  font-family: var(--body-font);
}

h1,
h1.q-markdown--heading-h1,
.text-h1,
.text-h1 * {
  line-height: 1.25em;
  font-family: var(--heading-font);
  // responsive
  font-size: calc(60px + (96 - 60) * ((100vw - 400px) / (1800 - 400)));
}

h2,
h2.q-markdown--heading-h2,
.text-h2,
.text-h2 * {
  line-height: 1.25em;
  font-family: var(--heading-font);
  // responsive
  font-size: calc(48px + (60 - 48) * ((100vw - 400px) / (1800 - 400)));
}

h3,
h3.q-markdown--heading-h3,
.text-h3,
.text-h3 * {
  line-height: 1.25em;
  font-family: var(--heading-font);
  // responsive
  font-size: calc(34px + (48 - 34) * ((100vw - 400px) / (1800 - 400)));
}

h4,
h4.q-markdown--heading-h4,
.text-h4,
.text-h4 * {
  line-height: 1.25em;
  font-family: var(--heading-font);
  // responsive
  font-size: calc(24px + (34 - 24) * ((100vw - 400px) / (1800 - 400)));
}

h5,
h5.q-markdown--heading-h5,
.text-h5,
.text-h5 * {
  line-height: 1.25em;
  font-family: var(--heading-font);
  // responsive
  font-size: calc(20px + (24 - 20) * ((100vw - 400px) / (1800 - 400)));
}

h6,
h6.q-markdown--heading-h6,
.text-h6,
.text-h6 * {
  line-height: 1.25em;
  font-family: var(--heading-font);
  // responsive
  font-size: calc(18px + (20 - 18) * ((100vw - 400px) / (1800 - 400)));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

p,
ul,
ol,
li {
  line-height: 1.75em;
  font-size: 1rem;
  // responsive
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1800 - 300)));
}

[class*="q-markdown--heading-h"] {
  padding: 0 0 !important;
}

.q-card .q-markdown,
.q-toolbar .q-markdown {
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

.q-markdown--link-external:after {
  font-family: "Material Design Icons" !important;
  content: "\f3cc" !important;
}

.q-markdown--line-numbers-wrapper {
  overflow: hidden;
}
